@import "~bootstrap/scss/bootstrap";
@import "events";
@import "forms";
@import "fonts";
@import "picture";

.buffer-top {
  margin-top: 20px;
}

.buffer-top-sm {
  margin-top: 12px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-bottom-sm {
  margin-bottom: 12px;
}

.buffer-right {
  margin-right: 20px;
}

.buffer-left {
  margin-left: 20px;
}

.buffer-right-sm {
  margin-right: 10px;
}

.buffer-left-sm {
  margin-left: 10px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.img-profile {
  width: auto;
  border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 20px 4px 4px;
}

.height-100 {
  height: 100%;
}

.none-style-list {
  list-style-type: none
}


.without_underline {
  text-decoration: none
}

.flex-wrap {
  flex-wrap: wrap;
}

button svg {
  fill: black;
}

.ratio {
  background-color: transparent !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {

}
