<div class="user">
  <div class="user-avatar d-flex justify-content-center">
    <%= image_tag(user_avatar(user), class: 'img-icon') %>
  </div>
  <div class="user-name text-center mt-1">
    <% if request.path == user_path(user) %>
      <%= user.name %>
    <% else %>
      <%= link_to user.name, user_path(user) %>
    <% end %>
  </div>
</div>
