<div class="bg-mini-window">
  <%= image_tag(photo.photo.url, class: 'full-size buffer-bottom buffer-top') %>
  <div class="d-flex d-flex align-items-center justify-content-around buffer-bottom-sm">
    <div class="buffer-top">
      <%= render partial: 'users/user', object: @event.user %>
    </div>
    <div>
      <%= button_to 'Удалить', event_photo_path(photo.event_id, photo.id), method: :delete, form: {data: {'confirm': t('controllers.photos.warnings.before_delete')}}, class: 'btn btn-danger'%>
    </div>
  </div>
</div>
